body{
    background-color: chocolate;
    font-family: 'Kufam', cursive;
}
    .numb {
    font-size: 2em;
}
button{
    margin-bottom: 15px;
    margin-top: 10px;
}
small{
    font-size: 1em;
   
}
.card-body{
    display: grid;
    text-align: center;
}
.card{
    display: flex;
    margin: auto;
    width: fit-content;
    margin-top: 100px;
}